*.pyc
__pycache__/
.env
.env.local
.env*.local


celerybeat-schedule
celerybeat.pid

/media/
/staticfiles/
/static/

/migrations/*
! /migrations/__init__.py

.vscode/
.idea/

*.log
logs/

/djenv/




