<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Landing Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body class="bg-gray-100 text-gray-800">

  <header class="flex flex-col items-center justify-center min-h-screen px-4 text-center">
    <h1 class="text-5xl font-extrabold mb-4">Welcome to the Project</h1>
    <p class="text-lg max-w-xl mb-6">Tailwind CSS and HTMX! practice</p>

    <div class="flex gap-6 mt-8">
      <a href="/admin/" class="px-6 py-3 bg-red-600 text-white rounded-lg hover:bg-red-700 transition">Admin Login</a>
      <a href="/api/dashboard/" class="px-6 py-3 bg-green-600 text-white rounded-lg hover:bg-green-700 transition">User Dashboard</a>
    </div>
  </header>

</body>
</html>
